
.bg{
    background-image: url(./image/banner.png);
    background-size: cover;
    background-repeat: no-repeat;
    /* background-position: center; */
    /* height: 530px; */
    position: relative;
}

