
.bg{
    background-image: url(./image/banner.png);
    background-size: contain;
    background-repeat: no-repeat;

    background-position: center;
    margin-top: 20px;
    /* height: 530px; */
}
